<%
  boardClassName ="
    bg-gradient-to-r from-violet-500 to-indigo-500 p-8
    rounded aspect-square justify-center items-center
    grid gap-6 grid-cols-#{@size} grid-rows-#{@size}
  "
  tileClassName = "
    shadow-sm hover:shadow-2xl rounded bg-black
    justify-self-center w-24 aspect-square
  "
%>

<%= content_tag(:div, data: {
      controller: "board",
      board_finished_result_value: @board_object,
      board_board_size_value: @board_size
    }
  ) do %>
    <%= content_tag(:span, "", data: { board_target: "completion" }) %>
    <%#= content_tag(:span, "", data: { board_target: "test" }) %>
    <%= content_tag(:div, class: boardClassName) do %>
      <% @board_size.times do |value| %>
        <%= content_tag(:div, class: tileClassName, data: {
            action: "click->board#flipTile"
          }
        ) do %>
          <div
            class="p-6 shadow-lg rounded align-middle h-full justify-center items-center text-center flex"
            data-is-open="false"
            data-tile-index="<%= value %>"
          >
            value
          </div>

        <% end %>
      <% end %>
    <% end %>
<% end %>
